/**
*
* form.css
* @author - Lameen
* @date - 28/02/2023
**/

.primary-button {
    border-radius: 3px;
    border: 2px solid #202221;
    padding: 5px 11px;
    background-color: #f1f5f8;
    color: #3f3939;
    font-size: 15px;
    font-weight: 400;
    margin-right: 13px;
    letter-spacing: 2px;
    cursor: pointer;
}